*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Use smooth scrolling, but only when body has focus. This will not affect "find within page." */
html:focus-within {
  scroll-behavior: smooth;
}

body {
  line-height: calc(1em + 0.5rem);
  -webkit-font-smoothing: antialiased;
}

html,
body,
#root {
  height: 100%;
}

/* No z-index arms race */
#root {
  isolation: isolate;
}

a {
  text-decoration-skip-ink: auto;
}

/* Giv inline text elements automatic break word to avoid wrapping issues */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Make images easier to work with */
img,
svg,
video,
canvas,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
